<!-- modal for signing in -->
<div class="container">
  <div class="modal fade" id="signInModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Log In</h4>
        </div>
        <div class="modal-body">
          <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Log In</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->
<div id="nav">
  <button class="navBtn">Register</button>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#signInModal">Log In</button>
</div>
<!-- where short app description will go -->
  <p>This is a paragraph all about how awesome Streamlet is. It's a really great service, and you can use with with or without an account! How cool is that?</p>
  <form>
    <!-- search bar -->
    <input type="radio" name="type" ng-model="main.movie" value="movie" />Movie
    <input type="radio" name="type" ng-model="main.tv" value="tv" />TV Show
    <input type="text" id="search" name="search" ng-model="main.search" placeholder="Is it streaming?"/>
    <button type="submit" id="searchBtn" ng-click="main.forSearch()">Search</button>
  </form>
  <div ng-repeat="title in main.titlesArray">
    <img src="{{title.poster}}" />
    <p>{{title.original_title}}</p>
  </div>
