<h1>Welcome Back!</h1>
<div id="nav" ng-controller="LogoutController as logout">
  <button type="button" ng-click="logout.logout()">Log Out</button>
</div>
<form>
  <!-- search bar -->
  <input type="radio" name="type" ng-model="main.movie" value="movie" />Movie
  <input type="radio" name="type" ng-model="main.tv" value="tv" />TV Show
  <input type="text" id="search" name="search" ng-model="main.search" placeholder="Is it streaming?"/>
  <button type="submit" id="searchBtn" ng-click="main.forSearch()">Search</button>
</form>
<div ng-repeat="title in main.titlesArray">
  <img src="{{title.poster}}" />
  <p>{{title.title}}</p>
  <p>Subscription:</p>
  <p>{{title.subscription_web_sources}}</p>
  <p>Purchase:</p>
  <p>{{title.purchase_web_sources}}</p>
  <button type="button" id="saveButton" ng-controller="SaveController as save" ng-click="save.saveTitle()">Save</button>
</div>
