<div id="nav" ng-controller="LogoutController as logout">
  <button type="button" class="btn btn-custom" ng-click="logout.logout()">Log Out</button>
</div>
<h2>Welcome Back!</h2>
<form>
  <!-- search bar -->
  <input type="radio" class="radio" name="type" ng-model="main.movie" value="movie" />
  <label for="movie" class="radioLabel">Movie</label>
  <input type="radio" class="radio" name="type" ng-model="main.tv" value="tv" />
  <label for="tv" class="radioLabel">TV Show</label>
  <br />
  <input type="text" class="search" name="search" ng-model="main.search" placeholder="Is it streaming?"/>
  <button type="submit" id="searchBtn" class="btn btn-custom" ng-click="main.forSearch()">Search</button>
</form>
<!-- for displaying search results -->
<div ng-repeat="title in main.netflixArray">
  <h3>Netflix:</h3>
  <img src="{{title.poster}}" />
  <p>{{title.show_title}}</p>
  <p>Netflix</p>
  <button type="button" id="saveButton" class="btn btn-custom" ng-controller="SaveController as save" ng-click="save.saveTitle()">Save</button>
</div>
<div ng-repeat="title in main.titlesArray">
  <img src="{{title.poster}}" />
  <p>{{title.title}}</p>
  <div ng-repeat="title in main.streamArray[0].all_sources">
    <p>{{title.display_name}}</p>
  </div>
  <div ng-repeat="title in main.streamArray[0]">
    <p>{{title.display_name}}</p>
  </div>
  <button type="button" id="saveButton" class="btn btn-custom" ng-controller="SaveController as save" ng-click="save.saveTitle()">Save</button>
</div>
