<h1>Register</h1>
<!-- registration form -->
  <form ng-controller="RegisterController as register">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" ng-model="register.name" />
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" ng-model="register.email" />
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" ng-model="register.username" />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" ng-model="register.password" />
    <button type="submit" ng-click="register.register()">Submit</button>
  </form>
