/* layout and backgrounds */
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #B0B3B4;
}
header {
  display: flex;
  padding: 20px;
}
form {
  width: 60%;
  background-color: #232323;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
}
footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}
#nav, footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 15px;
  background-color: tomato;
}
.reg {
  margin: 10px;
}
#blurb {
  width: 80%;
  margin: 50px auto;
}
.search {
  width: 87%;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
}
.radio {
  display: inline;
  height: 15px;
}
.display {
  display: flex;
  flex-wrap: wrap;
}
.titleHolder {
  justify-content: space-around;
  padding: 0 50px 50px 50px;
}
.input {
  width: 30%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 5px;
}
.rinput {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 5px;
}
h2 {
  text-align: center;
  color: #000036;
  margin-bottom: 50px;
}
/* fonts */
h1 {
  color: #000036;
  font-family: 'Bungee Inline', cursive;
}
h2, h3, p {
  font-family: 'Roboto', sans-serif;
}
.radioLabel {
  font-size: 20px;
  color: white;
  padding: 5px;
}
a:link, a:visited {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: black;
}
#intro {
  font-size: 18px;
  text-align: center;
}
footer p {
  font-size: 16px;
  padding-top: 10px;
  padding-right: 10px;
}
.title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.labels {
  color: white;
  font-size: 20px;
}
.rlabels {
  color: white;
  font-size: 20px;
  float: left;
  text-align: left;
  margin-right: 15px;
  width: 100%;
}
/* images */
.material-icons.md-48.blue {
  font-size: 48px;
  color: #000036;
  margin-right: 5px;
  margin-top: 15px;
}
.display img {
  height: 400px;
  padding: 20px;
}
/* buttons */
.btn-custom {
  background-color: #0D9696 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32bfcc", endColorstr="#0D9696");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#32bfcc), to(#0D9696));
  background-image: -moz-linear-gradient(top, #32bfcc, #0D9696);
  background-image: -ms-linear-gradient(top, #32bfcc, #0D9696);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32bfcc), color-stop(100%, #0D9696));
  background-image: -webkit-linear-gradient(top, #32bfcc, #0D9696);
  background-image: -o-linear-gradient(top, #32bfcc, #0D9696);
  background-image: linear-gradient(#32bfcc, #0D9696);
  border-color: #0D9696 #0D9696 #0D9696;
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
}
.btn:hover {
  color: black !important;
}
